.nav {
    margin-bottom: 4rem;
}

.page-header {
    padding: 0 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.page-header h1 {
    font-family: 'Ruthie', cursive;
    font-size: 40px;

    margin: 0;
}

/* Details */
details {
    padding: .5rem 0;
}

summary {
    font-weight: bold;
    padding: 0.25rem;
    cursor: pointer;
}

details[open] summary {
    margin-bottom: .5rem;
}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
    margin-left: .5rem;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-left: 0px
    }

    100% {
        opacity: 1;
        margin-left: .5rem;
    }
}
